* {
  font-family: "Times New Roman", Georgia, Serif;
}

.blockLocation, .temps {
  margin 0 20px 0 30px
  padding 10px
  display flex
  align-items baseline
}

.temps {
  justify-content space-between
}

.locationIcon {
  margin 20px 20px 0 0
  width 100px
  height 100px
}

.locationName {
  font-size 60px
  padding 20px
}


.realTemp {
  font-size 100px
}

.feelsTemp {
  font-size 30px
  margin-left 20px
}

.cold {
  color #000092
}

.hot {
  color: #b60913
}